# vim: noexpandtab
[submodule "bundle/150colors"]
	path = bundle/150colors
	url = https://github.com/luckydev/150colors.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-over"]
	path = bundle/vim-over
	url = https://github.com/osyo-manga/vim-over.git
[submodule "bundle/vim-visual-star-search"]
	path = bundle/vim-visual-star-search
	url = https://github.com/bronson/vim-visual-star-search.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim

[submodule "bundle/unite-colorscheme"]
	path = bundle/unite-colorscheme
	url = https://github.com/ujihisa/unite-colorscheme.git
	
	# Okay, so here's the deal. Documentation/help for new vim commands happens
	# in the bundle/[addon name]/doc/ directory. If you update vim to
	# incorporate new documentation (:Helptags) , it generates files that're
	# also in the doc/ directory.  This would be fine if we weren't using
	# submodules. But as it is, git gives an 'untracked file' warning for the
	# bundle/[addon name]/doc/tags file. This next line is to disable checking
	# for any untracked files, at all.
	ignore = untracked

[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/badwolf"]
	path = bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "bundle/vim"]
	path = bundle/dracula-theme
	url = https://github.com/dracula/vim.git

[submodule "bundle/codi.vim"]
	path = bundle/codi.vim
	url = https://github.com/metakirby5/codi.vim.git
	ignore = untracked # see unite-colorscheme

[submodule "bundle/vim-ps1"]
	path = bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "bundle/SimpylFold"]
	path = bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
