# examples:
# https://github.com/github/gitignore/blob/master/Python.gitignore
.netrwhist

# Help file tags:
# Doesn't work. :(
#doc/tags

# Files open in vim will have a swap file with this format:
.*.swp
