[submodule "bundle/150colors"]
	path = bundle/150colors
	url = https://github.com/luckydev/150colors.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-over"]
	path = bundle/vim-over
	url = https://github.com/osyo-manga/vim-over.git
[submodule "bundle/vim-visual-star-search"]
	path = bundle/vim-visual-star-search
	url = https://github.com/bronson/vim-visual-star-search.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
